{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles.css'%}"/>
  <title>Document</title>
</head>
<body>
  <h1>Hello, an experience with Nature is the most calming effect you can give your brain.</h1>
  <h1>Enjoy this experience</h1>

  {{result}}

  
  {{result2}}

  <img src={{result}}> Relaxing
  <img src= {{result2}} Satisfying
</body>
</html>